DATABASE_URL=postgres://postgres:postgres@localhost:5433/private-rpc
PORT=4041
TARGET_RPC=http://localhost:3050
PERMISSIONS_YAML_PATH=./example-permissions.yaml
CORS_ORIGIN=http://localhost:3010
CREATE_TOKEN_SECRET=sososecret
