[package]
name = "zkstack_cli_common"
version.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
authors.workspace = true
exclude.workspace = true
repository.workspace = true
description.workspace = true
keywords.workspace = true

[dependencies]
anyhow.workspace = true
clap.workspace = true
cliclack.workspace = true
console.workspace = true
ethers.workspace = true
futures.workspace = true
once_cell.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_yaml.workspace = true
sqlx.workspace = true
tokio.workspace = true
toml.workspace = true
zkstack_cli_types.workspace = true
url.workspace = true
xshell.workspace = true
thiserror.workspace = true
strum.workspace = true
zkstack_cli_git_version_macro.workspace = true
async-trait.workspace = true
zksync_system_constants.workspace = true
zksync_types.workspace = true
zksync_web3_decl.workspace = true
