*
!docker/prover/prover-entry.sh
!docker/local-node/entrypoint.sh
!docker/external-node/entrypoint.sh
!docker/integration-test-node/generic_entrypoint.sh
!docker/contract-verifier/install-all-solc.sh
!etc/test_config
!etc/env/dev.env.example
!etc/env/docker.env
!etc/env/base
!etc/tokens
!etc/ERC20
!keys
keys/setup
!bin/
!db/
!backups/
!core/
!prover/
!yarn.lock
!package.json
!Cargo.lock
!Cargo.toml
!contracts/
!setup_2\^26.key

# files needed for integration-test-node
!target/release/
target/release/.fingerprint/
target/release/build/
target/release/deps/
target/release/*.d

# It's required to remove .git from contracts,
# otherwise yarn tries to use .git parent directory that
# doesn't exist.
contracts/.git
!infrastructure/local-setup-preparation
!infrastructure/zk
!sdk/zksync-rs
!etc/system-contracts/bootloader/build/artifacts
!etc/system-contracts/contracts/artifacts
!etc/system-contracts/contracts/precompiles/artifacts
!etc/system-contracts/artifacts-zk
!etc/multivm_bootloaders
!cargo
!bellman-cuda
!core/bin/verification_key_generator_and_server/data/
!prover/vk_setup_data_generator_server_fri/data/
