[submodule "contracts"]
path = contracts
url = https://github.com/matter-labs/era-contracts.git
[submodule "proof-manager-contracts"]
path = proof-manager-contracts
url = https://github.com/matter-labs/proof-manager-contracts.git
