# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode
.DS_Store
*.bak
node_modules
*.log
target
a.out
.gitconfig
cobertura.xml
tags
*.orig
.direnv
.cache

# Yarn files
.yarn/
.yarnrc.yml
.yarnrc

zksync_pk.key
dist
todo

/etc/env/target/*
/etc/env/.current
/etc/env/configs/*
!/etc/env/configs/dev.toml
!/etc/env/configs/dev_validium.toml
!/etc/env/configs/dev_validium_docker.toml
!/etc/env/configs/ext-node.toml
!/etc/env/configs/ext-node-validium.toml
!/etc/env/configs/ext-node-docker.toml
!/etc/env/configs/ext-node-validium-docker.toml
!/etc/env/configs/stage.toml
!/etc/env/configs/stage-proofs.toml
!/etc/env/configs/testnet.toml
!/etc/env/configs/mainnet.toml
!/etc/env/configs/prover-local.toml
/etc/env/l1-inits
!/etc/env/l1-inits/stage.env
!/etc/env/l1-inits/stage_proofs.env
!/etc/env/l1-inits/testnet.env
!/etc/env/l1-inits/mainnet.env
/etc/env/l2-inits
!/etc/env/l2-inits/stage.init.env
!/etc/env/l2-inits/stage_proofs.init.env
!/etc/env/l2-inits/testnet.init.env
!/etc/env/l2-inits/mainnet.init.env
!/etc/env/base
!/etc/env/file_based
!/etc/env/dev.toml
!/etc/env/dev_validium.toml
!/etc/env/dev_validium_docker.toml
!/etc/env/docker.toml
!/etc/env/ext-node.toml
!/etc/env/ext-node-docker.toml
!/etc/env/ext-node-validium.toml
!/etc/env/*.yaml
!/etc/env/ext-node-validium-docker.toml
/etc/tokens/localhost.json
/etc/zksolc-bin/*
/etc/zkvyper-bin/*
/etc/solc-bin/*
/etc/vyper-bin/*
!/keys
/keys/*
!/keys/packed
/tmp
/volumes
/logs
/loadtest-config
/sdk/binaryen

.ipynb_checkpoints

loadtest_accounts_*

go_to_env.sh
server_logs.txt

core/lib/storage/.env

.zcli-config.json

db/
en_db/
db-ssd/
backups/
artifacts/
artifacts-zk/
cache-zk/
zksolc
verified_sources

# Hyperchain related
hyperchain-*.yml
/etc/hyperchains/prover-keys
/etc/hyperchains/artifacts

# Prover keys that should not be commited
prover/crates/bin/vk_setup_data_generator_server_fri/data/setup_*
prover/data/keys/setup_*
prover/data/keys/fflonk_setup_snark_data.bin
prover/data/keys/plonk_setup_snark_data.bin

# ZK Stack CLI
chains/era/configs/*
chains/gateway/*
chains/avail/*
configs/*
era-observability/
core/tests/ts-integration/deployments-zk
transactions/

# foundry-zksync
install

.format_sql_snapshot
.prettier_cache.json
.prettier_cache_contracts.json
