.github/release-please/** @RomanBrodetski @perekopskiy @Deniallugo @popzxc @EmilLuta
**/CHANGELOG.md @RomanBrodetski @perekopskiy @Deniallugo @popzxc @EmilLuta
CODEOWNERS @RomanBrodetski @perekopskiy @Deniallugo @popzxc @EmilLuta
.github/workflows/** @matter-labs/devops
