all-features = false
no-default-features = false

[advisories]
vulnerability = "deny"
unmaintained = "warn"
yanked = "warn"
notice = "warn"
ignore = []
skip = [
    { crate = "sqlx@0.8.0", reason = "https://github.com/launchbadge/sqlx/issues/3440 to be fixed in next version (0.8.1), which is not out yet" },
]

[licenses]
unlicensed = "deny"
allow = [
    "MIT",
    "Apache-2.0",
    "ISC",
    "Unlicense",
    "MPL-2.0",
    "Unicode-DFS-2016",
    "CC0-1.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "Zlib",
    "OpenSSL",
]
copyleft = "warn"
allow-osi-fsf-free = "neither"
default = "deny"
confidence-threshold = 0.8
exceptions = [
    { name = "ring", allow = ["OpenSSL"] },
]
unused-allowed-license = "allow"

[[licenses.clarify]]
name = "ring"
expression = "OpenSSL"
license-files = [
    { path = "LICENSE", hash = 0xbd0eed23 },
]

[licenses.private]
ignore = false

[bans]
multiple-versions = "warn"
wildcards = "allow"
highlight = "all"
workspace-default-features = "allow"
external-default-features = "allow"

[sources]
unknown-registry = "deny"
unknown-git = "allow"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []
