version: '3.2'
name: runner
services:
  zk:
    image: matterlabs/zksync_rust:nightly
    extends:
      file: docker-compose-runner.yml
      service: zk

  postgres:
    extends:
      file: docker-compose-runner.yml
      service: postgres

  geth:
    extends:
      file: docker-compose-runner.yml
      service: geth
