version: '3.2'
services:
  geth:
    image: "matterlabs/geth:latest"
    environment:
      - PLUGIN_CONFIG

  zk:
    image: "matterlabs/zk-environment:latest2.0-lightweight-nightly"
    depends_on:
      - geth
      - postgres
    security_opt:
      - seccomp:unconfined
    command: tail -f /dev/null
    volumes:
      - .:/usr/src/zksync
      - /usr/src/cache:/usr/src/cache
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/src/setup-data:/mnt/prover_setup_keys
      - /usr/src/setup-data:/usr/src/setup-data
    environment:
      - CACHE_DIR=/usr/src/cache
      - SCCACHE_CACHE_SIZE=50g
      - SCCACHE_GCS_BUCKET=matterlabs-infra-sccache-storage
      - SCCACHE_GCS_SERVICE_ACCOUNT=gha-ci-runners@matterlabs-infra.iam.gserviceaccount.com
      - SCCACHE_ERROR_LOG=/tmp/sccache_log.txt
      - SCCACHE_GCS_RW_MODE=READ_WRITE
      - CI=1
      - GITHUB_WORKSPACE=$GITHUB_WORKSPACE
    env_file:
      - ./.env
  postgres:
    image: "postgres:14"
    command: postgres -c 'max_connections=200'
    ports:
      - 127.0.0.1:5432:5432
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
