services:
  zk:
    image: ghcr.io/matter-labs/zk-environment:latest2.0-lightweight-nightly
    extends:
      file: docker-compose.yml
      service: zk

  postgres:
    extends:
      file: docker-compose.yml
      service: postgres

  reth:
    extends:
      file: docker-compose.yml
      service: reth

volumes:
  postgres-data:
  reth-data:
