version: '3.2'
services:
  postgres:
    image: "postgres:14"
    command: postgres -c 'max_connections=200'
    ports:
      - 127.0.0.1:5432:5432
    volumes:
      - type: bind
        source: ./volumes/postgres
        target: /var/lib/postgresql/data
    environment:
      # We bind only to 127.0.0.1, so setting insecure password is acceptable here
      - POSTGRES_PASSWORD=notsecurepassword
  witness-generator:
    build: "./docker/witness-generator/Dockerfile"
    comm
  witness-vector-generator:
    build: "./docker/witness-vector-generator/Dockerfile"
  prover-gpu:
    build: "./docker/prover-gpu-fri/Dockerfile"
  proof-compressor:
    build: "./docker/proof-fri-gpu-compressor/Dockerfile"
  prover-job-monitor:
    build: "./docker/prover-job-monitor/Dockerfile"