[package]
name = "zkstack_cli_config"
version.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
authors.workspace = true
exclude.workspace = true
repository.workspace = true
description.workspace = true
keywords.workspace = true

[dependencies]
anyhow.workspace = true
clap.workspace = true
ethers.workspace = true
rand.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_yaml.workspace = true
strum.workspace = true
thiserror.workspace = true
tokio.workspace = true
url.workspace = true
xshell.workspace = true

zksync_basic_types.workspace = true
zksync_system_constants.workspace = true
zkstack_cli_common.workspace = true
zkstack_cli_types.workspace = true
zksync_consensus_roles.workspace = true
zksync_consensus_crypto.workspace = true