[package]
name = "zksync_prover_fri_gateway"
version.workspace = true
edition.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
vise.workspace = true
zksync_types.workspace = true
zksync_prover_dal.workspace = true
zksync_prover_config.workspace = true
zksync_object_store.workspace = true
zksync_prover_interface.workspace = true
zksync_task_management.workspace = true
zksync_vlog.workspace = true

axum.workspace = true
anyhow.workspace = true
tracing.workspace = true
reqwest = { workspace = true, features = ["blocking"] }
tokio = { workspace = true, features = ["time", "macros"] }
thiserror.workspace = true
ctrlc = { workspace = true, features = ["termination"] }
async-trait.workspace = true
serde = { workspace = true, features = ["derive"] }
clap = { workspace = true, features = ["derive"] }
