[package]
name = "zkstack"
version.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
authors.workspace = true
exclude.workspace = true
repository.workspace = true
description.workspace = true
keywords.workspace = true

[dependencies]
anyhow.workspace = true
chrono.workspace = true
clap.workspace = true
clap_complete.workspace = true
clap-markdown.workspace = true
cliclack.workspace = true
zkstack_cli_common.workspace = true
zkstack_cli_config.workspace = true
dirs.workspace = true
ethers.workspace = true
futures.workspace = true
human-panic.workspace = true
lazy_static.workspace = true
secrecy.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_yaml.workspace = true
slugify-rs.workspace = true
strum.workspace = true
sqruff-lib.workspace = true
thiserror.workspace = true
tokio.workspace = true
toml.workspace = true
zkstack_cli_types.workspace = true
url.workspace = true
xshell.workspace = true
zksync_basic_types.workspace = true
zksync_types.workspace = true
zksync_consensus_roles.workspace = true
zksync_consensus_crypto.workspace = true
zksync_web3_decl.workspace = true
zksync_system_constants.workspace = true
zksync_contracts.workspace = true
prost.workspace = true
reqwest.workspace = true

[build-dependencies]
anyhow.workspace = true
clap_complete.workspace = true
dirs.workspace = true
ethers.workspace = true
xshell.workspace = true

[features]
v27_evm_interpreter = []
v28_precompiles = []
v29_interopA_ff = []
