[workspace]
members = [
    # lib
    "prover_fri_utils",
    "prover_fri_types",
    "prover_dal",

    # binaries
    "witness_generator",
    "vk_setup_data_generator_server_fri",
    "prover_fri",
    "witness_vector_generator",
    "prover_fri_gateway",
    "proof_fri_compressor",
]

resolver = "2"


# for `perf` profiling
[profile.perf]
inherits = "release"
debug = true
