[package]
name = "zksync_witness_generator"
version.workspace = true
edition.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
vise.workspace = true
zksync_prover_dal.workspace = true
zksync_config = { workspace = true, features = ["observability_ext"] }
zksync_prover_interface.workspace = true
zksync_env_config.workspace = true
zksync_system_constants.workspace = true
zksync_vlog.workspace = true
zksync_queued_job_processor.workspace = true
zksync_multivm.workspace = true
zksync_object_store.workspace = true
zksync_types.workspace = true
zksync_task_management.workspace = true
zksync_prover_keystore.workspace = true
zksync_prover_fri_types.workspace = true
zksync_prover_fri_utils.workspace = true
zksync_core_leftovers.workspace = true
zksync_circuit_prover_service.workspace = true

zkevm_test_harness = { workspace = true }
circuit_definitions = { workspace = true, features = ["log_tracing"] }

anyhow.workspace = true
tracing.workspace = true
tokio = { workspace = true, features = ["time", "macros"] }
futures = { workspace = true, features = ["compat"] }
serde = { workspace = true, features = ["derive"] }
async-trait.workspace = true
bincode.workspace = true
structopt.workspace = true
ctrlc = { workspace = true, features = ["termination"] }
once_cell.workspace = true
tempfile.workspace = true

[target.'cfg(not(target_env = "msvc"))'.dependencies]
jemallocator = "0.5"

[dev-dependencies]
const-decoder = "0.3.0"
