__imports__ = ["base", "l1-inits/.init.env", "l2-inits/dev_validium_docker.init.env"]

database_url = "postgres://postgres:notsecurepassword@localhost:5432/zksync_local"
database_prover_url = "postgres://postgres:notsecurepassword@localhost:5432/prover_local"
test_database_url = "postgres://postgres:notsecurepassword@localhost:5433/zksync_local_test"
test_database_prover_url = "postgres://postgres:notsecurepassword@localhost:5433/prover_local_test"

# for loadtest
l1_rpc_address = "http://localhost:8545"

[chain.state_keeper]
compute_overhead_part = 1.0
pubdata_overhead_part = 0.0
batch_overhead_l1_gas = 1000000
# This value should be higher for Validium, but now it is not compatible with the current blobs model.
# For this config to be set to its proper value we need to fully integrate Validium + Blobs.
max_pubdata_per_batch = 100000
fee_model_version = "V2"
l1_batch_commit_data_generator_mode = "Validium"
miniblock_iteration_interval = 50

[eth_sender]
sender_pubdata_sending_mode = "Custom"

[eth_client]
web3_url = "http://localhost:8545"

[_metadata]
base = ["dev.toml"]
