[package]
name = "genesis_generator"
description = "Tool to generate ZKsync genesis data"
version.workspace = true
edition.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
publish = false

[dependencies]
zksync_config = { workspace = true, features = ["observability_ext"] }
zksync_types.workspace = true
zksync_dal.workspace = true
zksync_contracts.workspace = true
zksync_protobuf.workspace = true
zksync_node_genesis.workspace = true

anyhow.workspace = true
serde_json.workspace = true
serde_yaml.workspace = true
serde.workspace = true
tokio = { workspace = true, features = ["full"] }
tracing.workspace = true
futures.workspace = true
clap = { workspace = true, features = ["derive"] }

