[package]
name = "merkle_tree_consistency_checker"
description = "Tool to verify consistency of ZKsync Merkle Tree"
version.workspace = true
edition.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
publish = false

[dependencies]
zksync_config = { workspace = true, features = ["observability_ext"] }
zksync_merkle_tree.workspace = true
zksync_types.workspace = true
zksync_storage.workspace = true
zksync_vlog.workspace = true

anyhow.workspace = true
clap = { workspace = true, features = ["derive"] }
tracing.workspace = true
