[package]
name = "zksync_da_clients"
description = "ZKsync data availability clients"
version.workspace = true
edition.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
serde = { workspace = true, features = ["derive"] }
tracing.workspace = true
async-trait.workspace = true
anyhow.workspace = true
flate2.workspace = true
secrecy.workspace = true
tokio.workspace = true
chrono.workspace = true

zksync_config.workspace = true
zksync_types.workspace = true
zksync_eth_client = { workspace = true, features = ["node_framework"] }
zksync_object_store = { workspace = true, features = ["node_framework"] }
zksync_da_client = { workspace = true, features = ["node_framework"] }
zksync_basic_types.workspace = true
zksync_node_framework.workspace = true
zksync_dal = { workspace = true, features = ["node_framework"] }
futures.workspace = true

# Avail dependencies
scale-encode.workspace = true
subxt-metadata.workspace = true
blake2.workspace = true
base58.workspace = true
serde_json.workspace = true
hex.workspace = true
blake2b_simd.workspace = true
parity-scale-codec = { workspace = true, features = ["derive"] }
subxt-signer = { workspace = true, features = ["sr25519"] }
bip39.workspace = true
jsonrpsee = { workspace = true, features = ["ws-client"] }
reqwest = { workspace = true }
bytes = { workspace = true }
backon.workspace = true
url.workspace = true

# Celestia dependencies
eq-sdk = { workspace = true }
base64.workspace = true
http.workspace = true
bincode.workspace = true
celestia-types.workspace = true
secp256k1.workspace = true
sha2.workspace = true
prost.workspace = true
bech32.workspace = true
ripemd.workspace = true
tonic = { workspace = true, features = ["tls-roots", "prost", "codegen"] }
pbjson-types.workspace = true
zksync_web3_decl = { workspace = true, features = ["node_framework"] }
zksync_eth_client.workspace = true
lazy_static.workspace = true

# EigenDA dependencies
rust-eigenda-client.workspace = true
rust-eigenda-v2-client.workspace = true
rust-eigenda-v2-common.workspace = true
rust-eigenda-signers.workspace = true