[package]
name = "zksync_node_alloc_tools"
description = "Jemalloc tooling used by ZKsync node"
version.workspace = true
edition.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
zksync_node_framework.workspace = true
zksync_health_check.workspace = true

anyhow.workspace = true
serde.workspace = true
serde_json.workspace = true
tokio = { workspace = true, features = ["time"] }
tracing.workspace = true
tikv-jemalloc-ctl = { workspace = true, features = ["use_std"] }
vise.workspace = true
