[package]
name = "zksync_reorg_detector"
description = "ZKsync reorg detector"
version.workspace = true
edition.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
zksync_dal = { workspace = true, features = ["node_framework"] }
zksync_health_check = { workspace = true, features = ["node_framework"] }
zksync_node_framework.workspace = true
zksync_shared_metrics.workspace = true
zksync_types.workspace = true
zksync_web3_decl = { workspace = true, features = ["node_framework"] }

anyhow.workspace = true
async-trait.workspace = true
tokio = { workspace = true, features = ["time"] }
thiserror.workspace = true
tracing.workspace = true
serde_json.workspace = true

[dev-dependencies]
assert_matches.workspace = true
test-casing.workspace = true

zksync_node_genesis.workspace = true
zksync_node_test_utils.workspace = true
