[package]
name = "custom_genesis_export"
version.workspace = true
edition.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
publish = false

[dependencies]
clap = { workspace = true, features = ["derive"] }
futures.workspace = true
serde_yaml.workspace = true
sqlx = { workspace = true, features = [
    "runtime-tokio",
    "tls-native-tls",
    "macros",
    "postgres",
] }
tokio = { workspace = true, features = ["full"] }

zksync_types.workspace = true
zksync_node_genesis.workspace = true
zksync_config.workspace = true
zksync_contracts.workspace = true
zksync_dal.workspace = true
anyhow.workspace = true
bincode.workspace = true
