[package]
name = "zksync_prover_autoscaler"
version.workspace = true
edition.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
zksync_core_leftovers.workspace = true
zksync_vlog.workspace = true
zksync_utils.workspace = true
zksync_types.workspace = true
zksync_config = { workspace = true, features = ["observability_ext"] }
zksync_prover_job_monitor.workspace = true

debug-map-sorted.workspace = true
anyhow.workspace = true
async-trait.workspace = true
axum.workspace = true
chrono.workspace = true
ctrlc = { workspace = true, features = ["termination"] }
futures.workspace = true
humantime-serde.workspace = true
k8s-openapi = { workspace = true, features = ["v1_30"] }
kube = { workspace = true, features = ["runtime", "derive"] }
once_cell.workspace = true
regex.workspace = true
reqwest = { workspace = true, features = ["json"] }
ring.workspace = true
rustls = { workspace = true, features = ["ring"] }
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
serde_yaml.workspace = true
structopt.workspace = true
strum.workspace = true
strum_macros.workspace = true
tokio = { workspace = true, features = ["time", "macros"] }
tracing-subscriber = { workspace = true, features = ["env-filter"] }
tracing.workspace = true
url.workspace = true
vise.workspace = true
tracing-test.workspace = true
