[package]
name = "zkstack_cli_types"
version.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
authors.workspace = true
exclude.workspace = true
repository.workspace = true
description.workspace = true
keywords.workspace = true

[dependencies]
clap.workspace = true
ethers.workspace = true
serde.workspace = true
strum.workspace = true
thiserror.workspace = true
zksync_basic_types.workspace = true
