[package]
name = "zksync_external_node"
description = "Non-validator ZKsync node"
version.workspace = true
edition.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
publish = false

[dependencies]
zksync_commitment_generator.workspace = true
zksync_dal = { workspace = true, features = ["node_framework"] }
zksync_config = { workspace = true, features = ["observability_ext", "cli"] }
zksync_eth_client = { workspace = true, features = ["node_framework"] }
zksync_state.workspace = true
zksync_contracts.workspace = true
zksync_snapshots_applier.workspace = true
zksync_object_store = { workspace = true, features = ["node_framework"] }
zksync_health_check = { workspace = true, features = ["node_framework"] }
zksync_web3_decl = { workspace = true, features = ["node_framework"] }
zksync_types.workspace = true
zksync_block_reverter.workspace = true
zksync_da_clients.workspace = true
zksync_gateway_migrator.workspace = true
zksync_logs_bloom_backfill.workspace = true
zksync_node_fee_model.workspace = true
zksync_node_storage_init.workspace = true
zksync_node_db_pruner.workspace = true
zksync_state_keeper.workspace = true
zksync_reorg_detector.workspace = true
zksync_consistency_checker.workspace = true
zksync_metadata_calculator.workspace = true
zksync_node_sync.workspace = true
zksync_node_api_server.workspace = true
zksync_node_consensus.workspace = true
zksync_node_framework.workspace = true
zksync_vlog = { workspace = true, features = ["node_framework"] }

zksync_consensus_roles.workspace = true
zksync_consensus_crypto.workspace = true
vise.workspace = true
smart-config-commands.workspace = true

async-trait.workspace = true
anyhow.workspace = true
tokio = { workspace = true, features = ["full"] }
futures.workspace = true
serde = { workspace = true, features = ["derive"] }
smart-config.workspace = true
url.workspace = true
clap = { workspace = true, features = ["derive"] }
tracing.workspace = true

[target.'cfg(not(target_env = "msvc"))'.dependencies]
tikv-jemallocator.workspace = true
zksync_node_jemalloc.workspace = true
# We don't use it directly, but want to enable Jemalloc profiling.
zksync_instrument = { workspace = true, features = ["jemalloc"] }

[dev-dependencies]
assert_matches.workspace = true
serde_yaml.workspace = true
tempfile.workspace = true
test-casing.workspace = true
zksync_node_genesis.workspace = true
zksync_protobuf.workspace = true

