name: Build TEE Prover images
on:
  workflow_call:
    secrets:
      ATTIC_TOKEN:
        description: "ATTIC_TOKEN"
        required: false
    inputs:
      image_tag_suffix:
        description: "Optional suffix to override tag name generation"
        type: string
        required: false
      action:
        description: "Action with docker image"
        type: string
        default: "push"
        required: false
jobs:
  build-images:
    name: Build and Push Docker Images
    env:
      IMAGE_TAG_SUFFIX: ${{ inputs.image_tag_suffix }}
    runs-on: [matterlabs-ci-runner-high-performance]
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.config.nixcontainer }}
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        config:
          - { nixcontainer: 'container-tee-prover-azure' }
          - { nixcontainer: 'container-tee-prover-tdx' }
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        if: ${{ github.event_name == 'workflow_dispatch' }}
        with:
          ref: ${{ github.event.inputs.target_branch }}

      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        if: ${{ github.event_name != 'workflow_dispatch' }}

      - uses: cachix/install-nix-action@ba0dd844c9180cbf77aa72a116d6fbc515d0e87b # v27
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ github.token }}
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= tee-pot:SS6HcrpG87S1M6HZGPsfo7d1xJccCGev7/tXc5+I4jg=
            substituters = https://cache.nixos.org/ https://static.188.92.12.49.clients.your-server.de/tee-pot
            sandbox = true

      - name: Setup Attic cache
        uses: ryanccn/attic-action@1887fd507f03327c96c64cca30118c96eb17fdad # v0.4.1
        with:
          endpoint: https://static.188.92.12.49.clients.your-server.de/
          cache: tee-pot
          token: ${{ secrets.ATTIC_TOKEN }}

      - name: Build Docker images
        id: build
        run: |
          nix build -L .#${{ matrix.config.nixcontainer }}
          export IMAGE_TAG=$(docker load -i result | grep -Po 'Loaded image.*: \K.*')
          echo "IMAGE_TAG=${IMAGE_TAG}" >> "$GITHUB_OUTPUT"
          echo "IMAGE_NAME=${IMAGE_TAG%:*}" >> "$GITHUB_OUTPUT"

      - name: Login to Docker registries
        if: ${{ inputs.action == 'push' }}
        run: gcloud auth configure-docker us-docker.pkg.dev -q

      - name: Login to GitHub Container Registry
        if: ${{ inputs.action == 'push' }}
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Docker images
        if: ${{ inputs.action == 'push' }}
        run: |
          export IMAGE_TAG="${{ steps.build.outputs.IMAGE_TAG }}"
          export IMAGE_NAME="${{ steps.build.outputs.IMAGE_NAME }}"
          for repo in "ghcr.io/${{ github.repository_owner }}" "us-docker.pkg.dev/matterlabs-infra/matterlabs-docker"; do
            for name_tag in "${IMAGE_TAG}" "${IMAGE_NAME}:latest" "${IMAGE_NAME}:${IMAGE_TAG_SUFFIX}"; do
              docker tag "${IMAGE_TAG}" "${repo}/${name_tag}"
              docker push "${repo}/${name_tag}"
            done
          done
