name: Build Prover images
on:
  workflow_call:
    secrets:
      DOCKERHUB_USER:
        description: "DOCKERHUB_USER"
        required: true
      DOCKERHUB_TOKEN:
        description: "DOCKERHUB_TOKEN"
        required: true
    inputs:
      ERA_BELLMAN_CUDA_RELEASE:
        description: "ERA_BELLMAN_CUDA_RELEASE"
        type: string
        required: true
      image_tag_suffix:
        description: "Optional suffix to override tag name generation"
        type: string
        required: false
      action:
        description: "Action with docker image"
        type: string
        default: "push"
        required: false
      CUDA_ARCH:
        description: "CUDA Arch to build"
        type: string
        default: "75;80;89;90"
        required: false
        # Details: https://arnon.dk/matching-sm-architectures-arch-and-gencode-for-various-nvidia-cards/
        # L4: 89
        # T4: 75
        # A100: 80
        # H100: 90

jobs:
  build-images:
    name: Build and Push Docker Images
    runs-on: [ matterlabs-ci-runner-high-performance ]
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: "recursive"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0

      - name: setup-env
        run: |
          echo ZKSYNC_HOME=$(pwd) >> $GITHUB_ENV
          echo CI=1 >> $GITHUB_ENV
          echo $(pwd)/bin >> $GITHUB_PATH
          echo CI=1 >> .env
          echo IN_DOCKER=1 >> .env

      - name: Set env vars
        shell: bash
        run: |
          # Support for custom tag suffix
          if [ -n "${{ inputs.image_tag_suffix }}" ]; then
            echo IMAGE_TAG_SHA_TS="${{ inputs.image_tag_suffix }}" >> $GITHUB_ENV
          else
            echo IMAGE_TAG_SHA_TS=$(git rev-parse --short HEAD)-$(date +%s) >> $GITHUB_ENV
          fi

      - name: login to Docker registries
        if: github.event_name != 'pull_request' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/'))
        shell: bash
        run: |
          docker login -u ${{ secrets.DOCKERHUB_USER }} -p ${{ secrets.DOCKERHUB_TOKEN }}
          gcloud auth configure-docker us-docker.pkg.dev -q

      - name: Login to GitHub Container Registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        if: github.event_name != 'pull_request' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/'))
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4 # v6.15.0
        with:
          context: .
          load: true
          build-args: |
            CUDA_ARCH=${{ inputs.CUDA_ARCH }}
            SCCACHE_GCS_BUCKET=matterlabs-infra-sccache-storage
            SCCACHE_GCS_SERVICE_ACCOUNT=gha-ci-runners@matterlabs-infra.iam.gserviceaccount.com
            SCCACHE_GCS_RW_MODE=READ_WRITE
            RUSTC_WRAPPER=sccache
            ERA_BELLMAN_CUDA_RELEASE=${{ inputs.ERA_BELLMAN_CUDA_RELEASE }}
          file: docker/zksyncos-prover/Dockerfile
          tags: |
            us-docker.pkg.dev/matterlabs-infra/matterlabs-docker/zksyncos-prover:${{ env.IMAGE_TAG_SHA_TS }}
            ghcr.io/${{ github.repository_owner }}/zksyncos-prover:${{ env.IMAGE_TAG_SHA_TS }}
            ghcr.io/${{ github.repository_owner }}/zksyncos-prover:latest

      - name: Push docker image
        if: ${{ inputs.action == 'push' }}
        run: |
          docker push us-docker.pkg.dev/matterlabs-infra/matterlabs-docker/zksyncos-prover:${{ env.IMAGE_TAG_SHA_TS }}
          docker push ghcr.io/${{ github.repository_owner }}/zksyncos-prover:${{ env.IMAGE_TAG_SHA_TS }}
          docker push ghcr.io/${{ github.repository_owner }}/zksyncos-prover:latest