name: Build zksync-runtime-base Docker image
on:
  workflow_dispatch:
    inputs:
      repo_ref:
        description: "git reference of the zksync-era to build"
        required: true
        default: main
jobs:
  build-images:
    name: Build and Push Docker Images
    runs-on: matterlabs-ci-runner-high-performance
    outputs:
      image_tag_sha: ${{ steps.get-sha.outputs.image_tag_sha }}
    # Needed to push to Gihub Package Registry
    permissions:
      packages: write
      contents: read
    env:
      REPO_REF: ${{ github.event.inputs.repo_ref }}
    strategy:
      matrix:
        name: [ runtime-base ]
        image_name: [ zksync-runtime-base ]

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          submodules: "recursive"

      - name: Login to google container registry
        run: |
          gcloud auth configure-docker us-docker.pkg.dev -q

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get tag
        id: get-sha
        run: |
          echo IMAGE_TAG_SHA=$(git rev-parse --short HEAD) >> $GITHUB_ENV
          echo image_tag_sha=$(git rev-parse --short HEAD) >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Build and push
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          push: true
          context: .
          platforms: arm64, amd64
          file: docker/${{ matrix.name }}/Dockerfile
          labels: |
            org.opencontainers.image.source=https://github.com/matter-labs/zksync-era
            org.opencontainers.image.licenses="MIT OR Apache-2.0"
          tags: |
            us-docker.pkg.dev/matterlabs-infra/matterlabs-docker/${{ matrix.image_name }}:latest
            ghcr.io/${{ github.repository_owner }}/${{ matrix.image_name }}:latest
