name: Build zksync-build-base Docker image
on:
  workflow_dispatch:
    inputs:
      repo_ref:
        description: "git reference of the zksync-era to build"
        required: true
        default: main
jobs:
  build-images:
    name: Build and Push Docker Images
    runs-on: ${{ fromJSON('["matterlabs-ci-runner-high-performance", "matterlabs-ci-runner-arm"]')[contains(matrix.arch, 'arm')] }}
    outputs:
      image_tag_sha: ${{ steps.get-sha.outputs.image_tag_sha }}
    # Needed to push to Gihub Package Registry
    permissions:
      packages: write
      contents: read
    env:
      DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      REPO_REF: ${{ github.event.inputs.repo_ref }}
    strategy:
      matrix:
        name: [ build-base ]
        repository: [ zksync-build-base ]
        arch: [ amd64, arm64 ]

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          submodules: "recursive"

      - name: Login to google container registry
        run: |
          gcloud auth configure-docker us-docker.pkg.dev -q

      - name: Login to DockerHub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get tag
        id: get-sha
        run: |
          echo IMAGE_TAG_SHA=$(git rev-parse --short HEAD) >> $GITHUB_ENV
          echo image_tag_sha=$(git rev-parse --short HEAD) >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build and push
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          push: true
          context: .
          file: docker/build-base/Dockerfile
          labels: |
            org.opencontainers.image.source=https://github.com/matter-labs/zksync-era
            org.opencontainers.image.licenses="MIT OR Apache-2.0"
          tags: |
            matterlabs/zksync-build-base:${{ steps.get-sha.outputs.image_tag_sha }}-${{ matrix.arch }}
            us-docker.pkg.dev/matterlabs-infra/matterlabs-docker/zksync-build-base:${{ steps.get-sha.outputs.image_tag_sha }}-${{ matrix.arch }}
            ghcr.io/${{ github.repository_owner }}/zksync-build-base:${{ steps.get-sha.outputs.image_tag_sha }}-${{ matrix.arch }}

  multiarch_manifest:
    # Needed to push to Gihub Package Registry
    permissions:
      packages: write
      contents: read
    needs: [ build-images ]
    env:
      IMAGE_TAG_SUFFIX: ${{ needs.build-images.outputs.image_tag_sha }}
    runs-on: [ matterlabs-ci-runner-high-performance ]
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Login to google container registry
        run: |
          gcloud auth configure-docker us-docker.pkg.dev -q

      - name: Login to DockerHub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create and push multi-arch manifests for Dockerhub
        shell: bash
        run: |
          images=("zksync-build-base")
          archs=("amd64" "arm64")

          for img in "${images[@]}"; do
            multiarch_tag="matterlabs/zksync-build-base:latest"
            individual_images=()

            for arch in "${archs[@]}"; do
              TAG="$IMAGE_TAG_SUFFIX"
              docker pull matterlabs/zksync-build-base:${TAG}-${arch} --platform linux/${arch}
              individual_images+=("matterlabs/zksync-build-base:${TAG}-${arch}")
            done

            docker buildx imagetools create --tag "${multiarch_tag}" "${individual_images[@]}"
          done

      - name: Create and push multi-arch manifests for GitHub Container Registry
        shell: bash
        run: |
          images=("zksync-build-base")
          archs=("amd64" "arm64")

          for img in "${images[@]}"; do
            multiarch_tag="ghcr.io/${{ github.repository_owner }}/zksync-build-base:latest"
            individual_images=()

            for arch in "${archs[@]}"; do
              TAG="$IMAGE_TAG_SUFFIX"
              docker pull ghcr.io/${{ github.repository_owner }}/zksync-build-base:${TAG}-${arch} --platform linux/${arch}
              individual_images+=("ghcr.io/${{ github.repository_owner }}/zksync-build-base:${TAG}-${arch}")
            done

            docker buildx imagetools create --tag "${multiarch_tag}" "${individual_images[@]}"
          done

      - name: Create and push multi-arch manifests for Google Artifact Registry
        shell: bash
        run: |
          images=("zksync-build-base")
          archs=("amd64" "arm64")

          for img in "${images[@]}"; do
            multiarch_tag="us-docker.pkg.dev/matterlabs-infra/matterlabs-docker/zksync-build-base:latest"
            individual_images=()

            for arch in "${archs[@]}"; do
              TAG="$IMAGE_TAG_SUFFIX"
              docker pull us-docker.pkg.dev/matterlabs-infra/matterlabs-docker/zksync-build-base:${TAG}-${arch} --platform linux/${arch}
              individual_images+=("us-docker.pkg.dev/matterlabs-infra/matterlabs-docker/zksync-build-base:${TAG}-${arch}")
            done

            docker buildx imagetools create --tag "${multiarch_tag}" "${individual_images[@]}"
          done
