name: Check Spelling

on:
  push:
    branches:
      - main
  pull_request:

env: 
  CARGO_TERM_COLOR: always

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Install cargo-spellcheck
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-spellcheck
          
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4

      - name: Run cargo-spellcheck
        run: cargo spellcheck --cfg=.github/spellcheck/era.cfg --code 1
