name: Check Spelling

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

env:
  CARGO_TERM_COLOR: always

jobs:
  spellcheck:
    runs-on: [matterlabs-ci-runner]
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
        with:
          submodules: "recursive"
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Setup environment
        run: |
          echo ZKSYNC_HOME=$(pwd) >> $GITHUB_ENV
          echo $(pwd)/bin >> $GITHUB_PATH
          echo IN_DOCKER=1 >> .env

      - name: Start services
        run: |
          run_retried docker compose pull zk
          docker compose up -d zk

      - name: Build zk
        run: |
          ci_run zk

#       - name: Run spellcheck
#         run: |
#           ci_run zk spellcheck
