name: Workflow template for CI jobs to be ran on both Prover and Core Components
on:
  workflow_call:
    secrets:
      DOCKERHUB_USER:
        description: "DOCKERHUB_USER"
        required: true
      DOCKERHUB_TOKEN:
        description: "DOCKERHUB_TOKEN"
        required: true

jobs:
  build:
    runs-on: [matterlabs-ci-runner]
    env:
      RUNNER_COMPOSE_FILE: "docker-compose-runner-nightly.yml"

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
        with:
          submodules: "recursive"

      - name: Setup environment
        run: |
          echo ZKSYNC_HOME=$(pwd) >> $GITHUB_ENV
          echo $(pwd)/bin >> $GITHUB_PATH
          echo IN_DOCKER=1 >> .env
          docker login -u ${{ secrets.DOCKERHUB_USER }} -p ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Start services
        run: |
          run_retried docker-compose -f ${RUNNER_COMPOSE_FILE} pull
          mkdir -p ./volumes/postgres
          docker-compose -f ${RUNNER_COMPOSE_FILE} up --build -d zk postgres
          ci_run sccache --start-server

      - name: Init
        run: |
          ci_run zk
          ci_run run_retried rustup show
          ci_run zk db setup

      # This does both linting and "building". We're using `zk lint prover` as it's common practice within our repo
      # `zk lint prover` = cargo clippy, which does cargo check behind the scenes, which is a lightweight version of cargo build
      - name: Lints
        run: ci_run zk lint prover
