name: Workflow template for CI jobs to be ran on both Prover and Core Components
on:
  workflow_call:

jobs:
  build:
    runs-on: matterlabs-ci-runner-highmem-long
    env:
      RUNNER_COMPOSE_FILE: "docker-compose-runner-nightly.yml"

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
        with:
          submodules: "recursive"

      - name: Setup environment
        run: |
          echo ZKSYNC_HOME=$(pwd) >> $GITHUB_ENV
          echo $(pwd)/bin >> $GITHUB_PATH
          echo IN_DOCKER=1 >> .env
          echo "SCCACHE_GCS_BUCKET=matterlabs-infra-sccache-storage" >> .env
          echo "SCCACHE_GCS_SERVICE_ACCOUNT=gha-ci-runners@matterlabs-infra.iam.gserviceaccount.com" >> .env
          echo "SCCACHE_GCS_RW_MODE=READ_WRITE" >> .env
          echo "RUSTC_WRAPPER=sccache" >> .env
          echo "ZKSYNC_USE_CUDA_STUBS=true" >> .env

      - name: Start services
        run: |
          run_retried docker-compose -f ${RUNNER_COMPOSE_FILE} pull
          docker-compose -f ${RUNNER_COMPOSE_FILE} up --build -d zk postgres
      
      - name: Install zkstack
        run: |
          ci_run ./zkstack_cli/zkstackup/install -g --path ./zkstack_cli/zkstackup/zkstackup
          ci_run zkstackup -g --local

      # This does both linting and "building". We're using `zk lint prover` as it's common practice within our repo
      # `zk lint prover` = cargo clippy, which does cargo check behind the scenes, which is a lightweight version of cargo build
      - name: Lints
        run: ci_run zkstack dev lint -t rs --check

