name: Workflow template for CI jobs against docs
on:
  workflow_call:

jobs:
  lint:
    # TODO: After migraton switch to CI
    runs-on: matterlabs-default-infra-runners

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
        with:
          submodules: "recursive"

      - name: Setup environment
        run: |
          echo ZKSYNC_HOME=$(pwd) >> $GITHUB_ENV
          echo $(pwd)/bin >> $GITHUB_PATH
          echo IN_DOCKER=1 >> .env

      - name: Start services
        run: |
          run_retried docker compose pull zk
          docker compose up -d zk
      
      - name: Build
        run: |
          ci_run ./bin/zkt
          ci_run yarn install
          ci_run git config --global --add safe.directory /usr/src/zksync

      - name: Lints
        run: |
          ci_run zk_supervisor lint -t md --check
