name: Workflow template for CI jobs against docs
on:
  workflow_call:

jobs:
  lint:
    # TODO: After migraton switch to CI
    runs-on: matterlabs-default-infra-runners

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
        with:
          submodules: "recursive"

      - name: Setup environment
        run: |
          echo ZKSYNC_HOME=$(pwd) >> $GITHUB_ENV
          echo $(pwd)/bin >> $GITHUB_PATH
          echo IN_DOCKER=1 >> .env

      - name: Start services
        run: |
          mkdir -p ./volumes/postgres
          run_retried docker compose pull zk postgres
          docker compose up -d zk postgres

      - name: Lints
        run: |
          ci_run zk
          ci_run zk fmt md --check
          ci_run zk lint md --check

