name: Workflow template for CI jobs against docs
on:
  workflow_call:

jobs:
  lint:
    runs-on: [matterlabs-ci-runner]

    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3
        with:
          submodules: "recursive"

      - name: Setup environment
        run: |
          echo ZKSYNC_HOME=$(pwd) >> $GITHUB_ENV
          echo $(pwd)/bin >> $GITHUB_PATH
          echo IN_DOCKER=1 >> .env

      - name: Start services
        run: |
          ci_localnet_up

      - name: Lints
        run: |
          ci_run zk
          ci_run zk fmt md --check
          ci_run zk lint md --check

