name: Workflow template for CI jobs against docs
on:
  workflow_call:

jobs:
  lint:
    # TODO: After migraton switch to CI
    runs-on: matterlabs-default-infra-runners

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          submodules: "recursive"

      - name: Setup Environment
        uses: ./.github/actions/setup-env

      - name: Build
        run: |
          ci_run yarn install

      - name: Lints
        run: |
          ci_run zkstack dev fmt prettier --check
          ci_run zkstack dev lint -t md --check
