name: Workflow template for CI jobs for Core Components
on:
  workflow_call:
    secrets:
      DOCKERHUB_USER:
        description: "DOCKERHUB_USER"
        required: true
      DOCKERHUB_TOKEN:
        description: "DOCKERHUB_TOKEN"
        required: true

env:
  CLICOLOR: 1

jobs:
  lint:
    name: lint
    uses: ./.github/workflows/ci-core-lint-reusable.yml
    secrets:
      DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  tests:
    name: tests (deployment_mode=${{ matrix.deployment_mode }})
    strategy:
      # In matrix jobs, fail-fast is true by default.
      # To be consistent with the rest of the workflow we disable it explicitly.
      fail-fast: false
      matrix:
        deployment_mode: ["rollup", "validium"]
    runs-on: [matterlabs-ci-runner]

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
        with:
          submodules: "recursive"
          fetch-depth: 0


      - name: Setup environment
        run: |
          echo ZKSYNC_HOME=$(pwd) >> $GITHUB_ENV
          echo $(pwd)/bin >> $GITHUB_PATH
          echo IN_DOCKER=1 >> .env
          docker login -u ${{ secrets.DOCKERHUB_USER }} -p ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Start services
        run: |
          ci_localnet_up
          ci_run sccache --start-server

      - name: Build
        run: |
          ci_run bash -c "./bin/zkt"

      - name: Initialize ecosystem
        run: |
          ci_run git config --global --add safe.directory /usr/src/zksync
          ci_run git config --global --add safe.directory /usr/src/zksync/contracts/system-contracts
          ci_run git config --global --add safe.directory /usr/src/zksync/contracts
          
          ci_run zk_inception ecosystem init --deploy-paymaster --deploy-erc20 \
          --deploy-ecosystem --l1-rpc-url=http://reth:8545 \
          --server-db-url=postgres://postgres:notsecurepassword@postgres:5432 \
          --server-db-name=zksync_server_localhost_era \
          --prover-db-url=postgres://postgres:notsecurepassword@postgres:5432 \
          --prover-db-name=zksync_prover_localhost_era \
          --ignore-prerequisites --verbose

      - name: Create and initialize chain
        run: |
          ci_run zk_inception chain create \
          --chain-name chain_${{ matrix.deployment_mode }} \
          --chain-id 0 \
          --prover-mode no-proofs \
          --wallet-creation localhost \
          --l1-batch-commit-data-generator-mode  ${{ matrix.deployment_mode }} \
          --base-token-address 0x0000000000000000000000000000000000000001 \
          --base-token-price-nominator 1 \
          --base-token-price-denominator 1 \
          --set-as-default true \
          --ignore-prerequisites
          ci_run zk_inception chain init \
          --deploy-paymaster \
          --l1-rpc-url=http://reth:8545 \
          --server-db-url=postgres://postgres:notsecurepassword@postgres:5432 \
          --server-db-name=zksync_server_localhost_${{ matrix.deployment_mode }} \
          --prover-db-url=postgres://postgres:notsecurepassword@postgres:5432 \
          --prover-db-name=zksync_prover_localhost_${{ matrix.deployment_mode }} \
          ci_run zk_inception update

      - name: Run server
        run: |
          ci_run zk_inception server --ignore-prerequisites &>server.log &
          ci_run sleep 5

      - name: Run integration tests
        run: |
          ci_run zk_supervisor test integration --ignore-prerequisites --verbose

      - name: Init external node server
        run: |
          ci_run zk_inception external-node configs --db-url=postgres://postgres:notsecurepassword@postgres:5432 \
          --db-name=zksync_en_localhost_era --l1-rpc-url=http://reth:8545
          ci_run zk_inception external-node init --ignore-prerequisites

      - name: Run recovery tests (from snapshot)
        run: |
          ci_run zk_supervisor test recovery --snapshot --ignore-prerequisites --verbose

      - name: Run recovery tests (from genesis)
        run: |
          ci_run zk_supervisor test recovery --ignore-prerequisites --verbose

      - name: Run external node server
        run: |
          ci_run zk_inception external-node run --ignore-prerequisites &>external_node.log &
          ci_run sleep 5

      - name: Run integration tests en
        run: |
          ci_run zk_supervisor test integration --ignore-prerequisites --verbose --external-node

      - name: Run revert tests
        run: |
          ci_run zk_supervisor test revert --ignore-prerequisites --verbose

      - name: Run revert tests (external node)
        run: |
          ci_run zk_supervisor test revert --external-node --ignore-prerequisites --verbose

      # This test should be the last one as soon as it
      # finished bootloader will be different
      - name: Run upgrade test
        run: |
          ci_run zk_supervisor test upgrade
        
      - name: Show server.log logs
        if: always()
        run: ci_run cat server.log || true

      - name: Show external_node.log logs
        if: always()
        run: ci_run cat external_node.log || true

      - name: Show revert.log logs
        if: always()
        run: ci_run cat ./core/tests/revert-test/revert.log || true
