name: Workflow template for CI jobs for Core Components
on:
  workflow_call:

env:
  CLICOLOR: 1

jobs:
  lint:
    name: lint
    uses: ./.github/workflows/ci-core-lint-reusable.yml

  build:
    runs-on: [matterlabs-ci-runner]

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
        with:
          submodules: "recursive"
          fetch-depth: 0

      - name: Setup environment
        run: |
          echo ZKSYNC_HOME=$(pwd) >> $GITHUB_ENV
          echo $(pwd)/bin >> $GITHUB_PATH
          echo IN_DOCKER=1 >> .env

      - name: Start services
        run: |
          ci_localnet_up
          ci_run sccache --start-server

      - name: Build
        run: |
          ci_run bash -c "cd zk_toolbox && cargo build --release"

      # Compress with tar to avoid permission loss
      # https://github.com/actions/upload-artifact?tab=readme-ov-file#permission-loss
      - name: Tar zk_toolbox binaries
        run: |
          tar -C ./zk_toolbox/target/release -cvf zk_toolbox.tar zk_inception zk_supervisor

      - name: Upload zk_toolbox binaries
        uses: actions/upload-artifact@v4
        with:
          name: zk_toolbox
          path: zk_toolbox.tar
          compression-level: 0

  integration_test:
    runs-on: [matterlabs-ci-runner]
    needs: [build]

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
        with:
          submodules: "recursive"
          fetch-depth: 0

      - name: Download zk_toolbox binaries
        uses: actions/download-artifact@v4
        with:
          name: zk_toolbox
          path: .

      - name: Extract zk_toolbox binaries
        run: |
          tar -xvf zk_toolbox.tar -C ./bin

      - name: Setup environment
        run: |
          echo ZKSYNC_HOME=$(pwd) >> $GITHUB_ENV
          echo $(pwd)/bin >> $GITHUB_PATH
          echo IN_DOCKER=1 >> .env

      - name: Start services
        run: |
          ci_localnet_up
          ci_run sccache --start-server

      - name: Initialize ecosystem
        run: |
          ci_run zk_inception ecosystem init --deploy-paymaster --deploy-erc20 \
          --deploy-ecosystem --l1-rpc-url=http://reth:8545 \
          --server-db-url=postgres://postgres:notsecurepassword@postgres:5432 \
          --server-db-name=zksync_server_localhost_era \
          --prover-db-url=postgres://postgres:notsecurepassword@postgres:5432 \
          --prover-db-name=zksync_prover_localhost_era \
          --ignore-prerequisites --verbose

      - name: Run server
        run: |
          ci_run zk_inception server --ignore-prerequisites &>server.log &
          ci_run sleep 5

      - name: Run integration tests
        run: |
          ci_run zk_supervisor integration-tests --ignore-prerequisites --verbose


      - name: Run external node server
        run: |
          ci_run zk_inception external-node configs --db-url=postgres://postgres:notsecurepassword@postgres:5432 \
          --db-name=zksync_en_localhost_era --l1-rpc-url=http://reth:8545  
          ci_run zk_inception external-node init --ignore-prerequisites
          ci_run zk_inception external-node run --ignore-prerequisites &>external_node.log &
          ci_run sleep 5

      - name: Run integration tests en
        run: |
          ci_run zk_supervisor integration-tests --ignore-prerequisites --verbose --external-node

      - name: Show server.log logs
        if: always()
        run: ci_run cat server.log || true
      - name: Show external_node.log logs
        if: always()
        run: ci_run cat external_node.log || true

