name: coverage

on:
  push:
    branches:
      - "**"

jobs:
  generate:
    runs-on: [self-hosted, ci-runner]

    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3
        with:
          submodules: "recursive"

      - name: Setup environment
        run: |
          echo ZKSYNC_HOME=$(pwd) >> $GITHUB_ENV
          echo $(pwd)/bin >> $GITHUB_PATH
          echo IN_DOCKER=1 >> .env

      - name: Start services
        run: |
          docker-compose -f docker-compose-runner.yml pull
          docker-compose -f docker-compose-runner.yml up --build -d zk
          ci_run sccache --start-server

      - name: Init
        run: |
          ci_run zk
          ci_run zk run yarn
          ci_run zk db drop
          ci_run zk db setup
          ci_run zk db reset-test
          ci_run zk compiler all
          ci_run zk contract build

      - name: Generate code coverage
        run: ci_run zk f cargo tarpaulin

      - name: Upload to codecov.io
        uses: codecov/codecov-action@d9f34f8cd5cb3b3eb79b3e4b5dae3a16df499a70 # v3
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          files: "!target/sqlx"
          fail_ci_if_error: true
