name: Push main branch VM benchmarks to Prometheus

on:
  push:
    branches:
      - main
  workflow_dispatch:

# Disable simultaneous deployments into a single environment
concurrency: vm-benchmarks

jobs:
  vm-benchmarks:
    name: Run VM benchmarks
    runs-on: [ matterlabs-ci-runner-highmem-long ]

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          submodules: "recursive"

      - name: setup-env
        run: |
          echo BENCHMARK_PROMETHEUS_PUSHGATEWAY_URL=${{ secrets.BENCHMARK_PROMETHEUS_PUSHGATEWAY_URL }} >> .env

      - name: Setup Environment
        uses: ./.github/actions/setup-env

      # TODO: Remove once merged into main
      - name: (TEMPORARY) Update foundry
        run: |
          ci_run curl -LO https://github.com/matter-labs/foundry-zksync/releases/download/foundry-zksync-v0.0.29/foundry_zksync_v0.0.29_linux_amd64.tar.gz
          ci_run mkdir ./foundry-temp
          ci_run tar zxf foundry_zksync_v0.0.29_linux_amd64.tar.gz -C ./foundry-temp
          ci_run cp ./foundry-temp/forge /usr/local/cargo/bin/forge
          ci_run cp ./foundry-temp/cast /usr/local/cargo/bin/cast
          echo "Foundry version after update:"
          ci_run forge --version
          ci_run rm -rf ./foundry-temp foundry_zksync_v0.0.29_linux_amd64.tar.gz

      - name: build contracts
        run: |
          ci_run zkstack dev contracts

      - name: run benchmarks
        run: |
          ci_run cargo bench --manifest-path ./core/Cargo.toml --package vm-benchmark --bench oneshot
          # Run only benches with 1,000 transactions per batch to not spend too much time
          ci_run cargo bench --manifest-path ./core/Cargo.toml --package vm-benchmark --bench batch '/1000$'
          ci_run cargo bench --manifest-path ./core/Cargo.toml --package vm-benchmark --bench instructions -- --verbose
          ci_run cargo bench --manifest-path ./core/Cargo.toml --package vm-benchmark --bench instructions -- --print
