name: Push main branch VM benchmarks to Prometheus

on:
  push:
    branches:
      - main
  workflow_dispatch:

# Disable simultaneous deployments into a single environment
concurrency: vm-benchmarks

jobs:
  vm-benchmarks:
    name: Run VM benchmarks
    runs-on: [ matterlabs-ci-runner-highmem-long ]

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          submodules: "recursive"

      - name: setup-env
        run: |
          echo BENCHMARK_PROMETHEUS_PUSHGATEWAY_URL=${{ secrets.BENCHMARK_PROMETHEUS_PUSHGATEWAY_URL }} >> .env
          echo "SCCACHE_GCS_BUCKET=matterlabs-infra-sccache-storage" >> .env
          echo "SCCACHE_GCS_SERVICE_ACCOUNT=gha-ci-runners@matterlabs-infra.iam.gserviceaccount.com" >> .env
          echo "SCCACHE_GCS_RW_MODE=READ_WRITE" >> .env
          echo "RUSTC_WRAPPER=sccache" >> .env
          echo ZKSYNC_HOME=$(pwd) >> $GITHUB_ENV
          echo $(pwd)/bin >> $GITHUB_PATH

      - name: init
        run: |
          run_retried docker compose pull zk
          docker compose up -d zk

      - name: Install zkstack
        run: |
          ci_run ./zkstack_cli/zkstackup/install -g --path ./zkstack_cli/zkstackup/zkstackup || true
          ci_run zkstackup -g --local

      - name: build contracts
        run: |
          ci_run zkstack dev contracts

      - name: run benchmarks
        run: |
          ci_run cargo bench --manifest-path ./core/Cargo.toml --package vm-benchmark --bench oneshot
          # Run only benches with 1,000 transactions per batch to not spend too much time
          ci_run cargo bench --manifest-path ./core/Cargo.toml --package vm-benchmark --bench batch '/1000$'
          ci_run cargo bench --manifest-path ./core/Cargo.toml --package vm-benchmark --bench instructions -- --verbose
          ci_run cargo bench --manifest-path ./core/Cargo.toml --package vm-benchmark --bench instructions -- --print
